html
body {
  background-color: #000;
}
.main-view {
  text-align: center;
  background-color: #000;
}
.cards {
  width: 300px;
  margin: 2px;
  display: inline-block;
  text-align: center;
  position: relative;
  margin-bottom: 460px;
}

.cards:hover {
  transform: scale(1.08);
  transition-duration: 500ms;
  z-index: 1;
}

.overlay {
  width:100%;
  height:430px;
  position:absolute;
  background-color:#000;
  opacity: 0;
  //border-radius:30px;
  z-index: 90;
}

.cards:hover .text-area{
  opacity: 1;
  z-index: 100;
  transition-duration: 500ms;
}

.cards:hover .overlay {
  opacity: 0.6;
}


.cards img {
  width: 299px;
  display: block;
  position: absolute;
}

.text-area {
  position: absolute;
  text-align: center;
  width: 100%;
  height: 100%;
  opacity: 0;
}

.cards h1 {
  position: absolute;
  color: #fff;
  font-size: 30px;
  margin-top: 200px;
  font-weight: 200;
}

.the-link h1:hover {
  color: #ffdd00;
  transition-duration: 300ms;
}

.cards h3 {
  position: absolute;
  color: #fff;
  font-size: 15px;
  margin-top: 250px;
  width: 299px;
}

.the-heart {
  color: #fff;
  float: right;
  font-size: 40px;
  margin-right: 10px;
  margin-top: 5px;
}

.the-heart:hover {
  color: #ff32f8;
  transition-duration: 400ms;
}

.the-genre {
  font-size: 15px;
  color: #fff;
  font-weight: 100;
  margin-top: 350px;
  float: left;
  margin-left: 20px;
  text-align: left;
}



