.header h1 {
  color: #ffdd00;
  font-weight: 100;
  font-size: 70px;
  display: inline-block;
  float: left;
  margin-left: 95px;
}

.the-filter{
  width: 250px;
  float: right;
  margin-top: 25px;
  margin-right: 20px;
}

.profile-link {
  float: right;
  margin-top: 25px;
  margin-right: 95px;
}

.mag {
  color: #fff;
  font-size: 25px;
  float: right;
  margin-top: 29px;
  margin-right: 10px;
}


.header {
  height: 100px;;
}
